<div id="app" >
 <!--  <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="isLoggedIn">
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div> -->
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>


 <!-- <div class="container-fluid">
  <div class="row"> -->
    <!-- chat y perfil -->
   <!--  <div class="col-2">
      <app-profile></app-profile>
    </div> -->
     <!-- chat activo -->
    <!-- <div class="col-8">
      <app-chat></app-chat>
    </div> -->
     <!--Perfil del contacto-->
    <!-- <div class="col-2">
      <app-contact></app-contact>
    </div>
  </div> -->

