<div class="container-fluid profile">

  <div class="row">
    <img [src]=image alt="image avatar" class="rounded-circle mx-auto">
  </div>
  <div class="info text-center mt-2">
    <p class="name">{{username ?? ''}}</p>
    <p class="phone">{{telephone ?? ''}}</p>
  </div>
  <div class="dropdown-divider mt-5"></div>
 <div class="row chat mt-0">
   <div class="col-4 chat-icon">
    <img class="" src="assets/images/chat_icon.png" >
   </div>
   <div class="col-8 ">
     <p class="chat-name ">Chat</p>
   </div>
 </div>
</div>
