.container-fluid{
  padding: 0;
}
.col-10{
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (max-width: 767px) and (orientation: portrait) {
  .profile {
    visibility:visible;
    width: 1px;
  }

  .row .col-10{
    width: 100%;
    background-color: aqua;
  }
}
